@media (min-width: 1200px) {
  .carousel-item {
    max-height: 550px;
  }
}

.slider-bg-1 {
  transform: scale(1.2) translate(-27%, 34%);
}
@media (min-width: 425px) {
  .slider-bg-1 {
    transform: scale(1.2) translate(-25%, 34%);
  }
}
@media (min-width: 768px) {
  .slider-bg-1 {
    transform: scale(1.5) translate(15%, 24%);
  }
}
@media (min-width: 992px) {
  .slider-bg-1 {
    transform: scale(1.5) translate(14%, 19%);
  }
}
@media (min-width: 1200px) {
  .slider-bg-1 {
    transform: scale(1.5) translate(16%, 19%);
  }
}
@media (min-width: 1400px) {
  .slider-bg-1 {
    transform: scale(1.5) translate(14%, 19%);
  }
}

.slider-bg-2 {
  transform: scale(1.3) translate(-50%, 4%);
}
@media (min-width: 425px) {
  .slider-bg-2 {
    transform: scale(1.5) translate(-43%, 1%);
  }
}
@media (min-width: 768px) {
  .slider-bg-2 {
    transform: scale(1.9) translate(-12%, -5%);
  }
}
@media (min-width: 992px) {
  .slider-bg-2 {
    transform: scale(1.9) translate(-12%, -12%);
  }
}
@media (min-width: 1200px) {
  .slider-bg-2 {
    transform: scale(1.9) translate(-11%, -12%);
  }
}
@media (min-width: 1400px) {
  .slider-bg-2 {
    transform: scale(1.9) translate(-12%, -7%);
  }
}

.slider-bg-3 {
  object-fit: contain;
  transform: scale(1) translate(-39%, 11%);
}
@media (min-width: 425px) {
  .slider-bg-3 {
    transform: scale(1) translate(-36%, 6%);
  }
}
@media (min-width: 768px) {
  .slider-bg-3 {
    transform: scale(1.4) translate(12%, -12%);
  }
}
@media (min-width: 992px) {
  .slider-bg-3 {
    transform: scale(1.4) translate(12%, -12%);
  }
}
@media (min-width: 1200px) {
  .slider-bg-3 {
    transform: scale(1.4) translate(10%, -10%);
  }
}
@media (min-width: 1400px) {
  .slider-bg-3 {
    transform: scale(1.4) translate(10%, -9%);
  }
}
.slider-bg-4 {
  object-fit: contain;
  transform: scale(0.4) translate(-70%, 47%);
}
@media (min-width: 425px) {
  .slider-bg-4 {
    transform: scale(0.8) translate(-19%, 26%);
  }
}
@media (min-width: 768px) {
  .slider-bg-4 {
    transform: scale(1) translate(33%, 33%);
  }
}
@media (min-width: 992px) {
  .slider-bg-4 {
    transform: scale(1) translate(33%, 33%);
  }
}
@media (min-width: 1200px) {
  .slider-bg-4 {
    transform: scale(1) translate(33%, 33%);
  }
}
@media (min-width: 1400px) {
  .slider-bg-4 {
    transform: scale(1) translate(33%, 33%);
  }
}
